@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.teacher-profile-section {
  margin-top: 50px;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}

.teacher-profile-section h2 {
  font-size: 25px;
  margin-bottom: 2px;
  color: #424242;
}

.teacher-profile-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #424242;
}

.teacher-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.teacher-card {
  width: 240px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.teacher-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.teacher-card img {
  width: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.teacher-card h3 {
  font-size: 18px;
  color: #424242;
  margin-bottom: 8px;
}

.teacher-card p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 15px;
}

.teacher-card button {
  padding: 10px 20px;
  font-size: 14.4px;
  color: #fff;
  background-color: #0f4c75;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.teacher-card button:hover {
  background-color: #0056b3;
}

hr {
  width: 100px;
  margin: 10px auto 40px;
  border-top: 1px solid #ddd;
}

@media (max-width: 700px) {
  .teacher-card {
    width: 100%;
    max-width: 320px;
  }
}
